#masthead {
  background-color: #f80;
}

#masthead h1 {
  font-family: "Exo";
  font-weight: 900;
  font-size: 80px;
}

#door-block h2 {
  display: none;
}

#calendar iframe {
  width: 100%;
}

#now-playing {
  font-size: xx-large;
}

#now-playing-label {
  font-weight: bold;
}
